/* Generic */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding-top: 3.5rem;  /* nav height */
}
h2 {
    font-family: 'Oswald', sans-serif;
}
section {
    position: relative;
}
section .content {
    padding: 3rem 0;
}
.container {
    min-width: 320px;
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
}
.container-fluid {
    width: 100%;
}
.content {
    display: flex;
    flex-direction: row;
}
.info {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image {
    display: none;
}
.info {
    padding: 0 10%;
    box-sizing: border-box;
}
.info_title {
    text-align: center;
    font-size: 150%;
}
.info_par {
    font-size: 100%;
    line-height: 2;
}
.keyword, h1, h2 {
    color: #C2185B;
}
.keyword {
    font-weight: bold;
}
a {
    text-decoration: none;
    border-bottom: 1px dotted #5E1C42;
    color: #5E1C42;
}
a:hover {
    border-color: #A96382;
    color: #A96382;
}


/* Navigation */
nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.175rem;
    background-color: #C2185B;
}
nav .container {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}
nav .logo {
    flex: 0 0 2.5rem;
    height: 2.5rem;
    background-image: url('../img/tr_logo_white.png');
    background-size: cover;
    background-repeat: no-repeat;
}
nav .menuIcon {
    flex: 0 0 2.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
}
nav .menuIcon svg {
    width: 100%;
    height: 100%;
}
nav .menuIcon .menuIcon_close {
    display: none;
}
nav .menu {
    display: none;
    position: absolute;
    top: -200%;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: #E91E63;
}
nav .menu.show {
    display: flex;
    top: 100%;
}
nav span {
    margin: 0.75rem 1rem;
}
nav span a {
    text-decoration: none;
    border: none;
    color: #FFF;
}


/* Banner */
.banner {
    position: relative;
}
.banner .container {
    display: flex;
    flex-direction: column;
}
.banner h1 {
    flex: 0 0 auto;
    margin: 5% auto 0;
    font-size: 1.5rem;
    letter-spacing: 3px;
}
.banner_image {
    flex: 1 1 320px;
    width: 100%;
    background-image: url('../img/nexus7_cropped.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 18% 50%;
    margin-top: 5%;
}


/* About */
a[name="about"] {
    /* Compensate for the nav bar */
    position: absolute;
    top: -90px;
}


/* Cost */
.cost .container.bg-image {
    background-image: url('../img/open_source_no_text.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-filter: blur(5px);
}
.cost_image {
    order: 2;
}


/* Contact */
.contactForm {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
    max-width: 600px;
}
.contactForm .inputGroup {
    margin-bottom: 1.75rem;
}
.contactForm .inputGroup span {
    display: block;
}
.contactForm input,
.contactForm textarea {
    width: 100%;
    margin: 0.35rem 0;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 2px;
    border: 1px solid #CCC;
    background-color: #FAFAFA;
    box-sizing: border-box;
}
.contactForm input:focus,
.contactForm textarea:focus {
    background-color: #FFF;
    outline: none;
}
.contactForm textarea {
    height: 6rem;
}
.contactForm .submit {
    width: auto;
    background-color: #333;
    color: #FFF;
    align-self: flex-start;
    padding: 0.15rem 1.5rem;
    box-sizing: content-box;
    cursor: pointer;
}
.contactForm .submit:focus {
    background-color: #333;
}
.contactForm .submit:hover {
    background-color: #666;
}
.contactForm[name="_gotcha"] {
    display: none;
}


/* Footer */
footer {
    margin-top: 5rem;
}



@media all and (min-width: 600px) {
    .container {
        max-width: 728px;
    }
    .banner h1 {
        margin: 3% 3%;
        font-size: 2.5rem;
    }
    .banner_image {
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: 50% -25%;
        margin-top: 0;
    }
}


@media all and (min-width: 768px) {
    .container {
        max-width: 1024px;
    }
    .banner_image {
        background-position: -50% 0%;
    }
    nav .menuIcon {
        display: none;
    }
    nav .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        background-color: inherit;
    }
    nav span {
        margin: 0.5rem 1rem;
    }
    .image {
        flex: 1 1 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10%;
    }
    .image img {
        width: 100%;
    }
    .info {
        flex: 1 1 60%;
    }
    .cost_image {
        order: 2;
        padding-right: 10%;
        padding-left: 0;
    }
}


@media all and (min-width: 1024px) {
    .container {
        max-width: 1440px;
    }
    .banner .container {
        max-width: 100%;
    }
    .banner h1 {
        margin: 3% 8% 1%;
        font-size: 3.5rem;
    }
    .banner_image {
        flex: 1 1 500px;
        background-size: 80%;
        background-position: 40% 0%;
    }
    .image img {
        width: 80%;
    }
}

@media all and (min-width: 1440px) {
    nav .container {
        max-width: 100%;
    }
}